@import url('https://fonts.googleapis.com/css2?family=Jura&display=swap');
    
.stApp {
    background-color: #EFE9D3;
    font-family: 'Jura', sans-serif;
}
.stMarkdown { 
    color: #EFE9D3;
    padding: 10px;
    border-radius: 10px;
    font-family: 'Jura', sans-serif;
}
.title {
    background-color: #ADC179;
    font-size: 40px;
    color: #3d4e2a;
    text-align: center;
    padding: 10px;
    border-radius: 15px;
    font-family: 'Jura', sans-serif;
}
.text {
    background-color: #A98467;
    color: #f1eddf;
    padding: 10px;
    border-radius: 10px;
    font-family: 'Jura', sans-serif;
}



/* Sidebar styling */
.stSidebar {
    background-color: #ADC179;
    color: #232221;
    font-family: 'Jura', sans-serif;
}



